﻿<%@ Page Language="C#" MasterPageFile="~/MasterPageDefault2.master" AutoEventWireup="true" CodeFile="large.aspx.cs" Inherits="Pages_Art_large" Title="Dean Komen Photography : Artistic Works" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <asp:Literal ID="uxHtmlLiteral" runat="server"></asp:Literal>
</asp:Content>

