﻿<%@ Page Language="C#" MasterPageFile="~/MasterPageDefault2.master" AutoEventWireup="true" CodeFile="Large.aspx.cs" Inherits="Pages_Landscapes_Large" Title="Dean Komen Photography: Main Portfolio" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <asp:Literal ID="uxHtmlLiteral" runat="server"></asp:Literal>
</asp:Content>

