<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MasterPageDefault2.master.cs" Inherits="MasterPageDefault2" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head id="Head1" runat="server">
    <meta name="verify-v1" content="LzpJfKiVXncea2Lld829LdluB7ZW3twTDrAxybqb750=" />
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta http-equiv="Content-Language" content="en" />
    <meta name="description" content="Photography of all occasions including weddings and other social gatherings. Pretoria, South Africa" />
    <meta name="keywords" content="fine art, photographer, pretoria, wedding, photos, gauteng, cheap, south, africa, photo's, dean, komen, artist, fine-art, fotograaf, fotos, fineart, botanical, tutorial, fine, art" />
    <title>Dean Komen Photography</title>
    <link rel="canonical" href="http://www.windingart.com" />
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js">
    </script>
    <asp:ContentPlaceHolder ID="head" runat="server" />
</head>
<script language="javascript" type="text/javascript">
    function SetImage(imageId, imageSource) {
        var imageElement = document.getElementById(imageId);
        imageElement.src = imageSource;
    }
    function NavigateTo(url) {
        window.location.href = url;
    }
    </script>

<body style="background-color:Black">
    <div>
        <table style="position:relative;top:10px;left:-60px" border="0">
            <tr>
                <td valign='top'>
                    <asp:image runat="server" id="uiNewMenu" ImageUrl="~/Images/NewMenu.jpg" ToolTip=""/>
                </td>
                <td>
                    <asp:image style="position:relative;left:-328px; top:-38px" runat="server" id="MenuGalleries" ImageUrl="~/Images/MenuGalleriesOut.png" ToolTip="" />
                    <%--<asp:image style="position:relative;left:-423px; top:0px" runat="server" id="NewMenuSlideshow" ImageUrl="~/Images/NewMenuSlideshowOut.jpg" ToolTip="" />--%>
                    <asp:image style="position:relative;left:-440px; top:-8px" runat="server" id="MenuWeddings" ImageUrl="~/Images/MenuWeddingsOut.png" ToolTip="" />
                    <asp:image style="position:relative;left:-552px; top:19px" runat="server" id="MenuAbout" ImageUrl="~/Images/MenuAboutOut.png" ToolTip="" />
                    <%--<asp:image style="position:relative;left:-664px; top:60px" runat="server" id="MenuCourses" ImageUrl="~/Images/MenuCoursesOut.png" ToolTip="" />--%>
                </td>
            </tr>
        </table>
        <!--<div style="position:relative;left:90px; top:-65px;color:#777;font-size:8pt">
          <g:plusone></g:plusone><br/>
          Please like this site
        </div>-->
    </div>
    <form id="form1" runat="server">   
        <div id="uxContentDiv" style="position:absolute;left:250px; top:90px; font-size:smaller" class="ThumbnailsContent"> 
            <asp:contentplaceholder id="ContentPlaceHolder1" runat="server">
        
            </asp:contentplaceholder>
        </div>
    </form>            
</body>
</html>
