﻿<%@ Page Language="C#" MasterPageFile="~/MasterPageDefault2.master" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="Pages_Landscape_Default" Title="Dean Komen Photography: Main Portfolio" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
        <center>
            <div >
                <asp:Literal ID="uiThumbNailTable" runat="server" />
            </div>
        </center>
</asp:Content>

